/* For layout - check layOut.css */

.header {
    margin: 5px;
    padding: 15px;
    border: #A9A9A9 0.364vw solid;
}

.header img.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #EFEFEF 0.364vw solid;
    box-shadow: 20px 20px 50px 25px rgba(239,239,239,0.4);
}

h1 {
    font-size: calc(32px + 2vw); /* Text grows for 2px each 100px viewport width */
    text-align: left;
    font-weight: 700;
    color: #585858;
}

h2 {
    font-size: calc(24px + 1,5vw);
    text-align: left;
    font-weight: 700;
    color: #585858;
}

/* Nav bar built with hover - Design by Glenn */

.navbar {
    margin: 5px;
    padding: 5px;
}

.navbar ul {
    margin: 5px;
    border: #FF3B3F 2px solid;
    padding: 1px;
}

.navbar ul li {
    margin: 5px;
    border: #CAEBF2 2px solid;
    padding: 10px;
    list-style-type: none;
    display: flex;
    font-size: calc(18.72px + 0.5vw);
    font-weight: 700;
    text-align: center;
}

.navbar ul li a{
    margin: 0 auto;
    border: #3E3E3E 2px solid;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    color: #3E3E3E;
    display: block;
}

.navbar ul li a:hover {
    background-color: #CECECE;
}

/* End nav bar */

.content {
    margin: 5px;
    border: #585858 0.364vw solid;
    color: #222;
}

.content a{
    color: #222;
}

.content img {
    margin: 0 auto;
    padding: 5px;
    width: 550px;
    height: 650px;
    display: block;
}

p {
    margin: 10px;
    padding: 10px;
    font-size: calc(18.72px + 0.5vw);
    text-align: start;
    font-weight: 700;
    color: #222;
}

ol {
    margin: 15px;
    font-size: calc(18.72px + 0.5vw);
    text-align: start;
    font-weight: 700;
    color: #222;
}

h3 {
    font-size: calc(18.72px + 0.5vw);
    text-align: center;
    font-weight: 700;
    color: #222;
}

.side {
    margin: 5px;
    padding: 30px;
    border: #585858 0.364vw solid;
}

.ad {
    margin: 5px;
    padding: 10px;
    border: #3E3E3E 0.364vw solid;
}

iframe {
    margin: 0 auto;
    width: 500px;
    height: 350px;
    display: block;
}

.footer {
    margin: 5px;
    font-size: calc(16px + 0.5vw);
    text-align: center;
    color: #3E3E3E;
    border: #3E3E3E 0.364vw solid;
}




/* Media queries alert! */
/*
@media only screen and (min-width: 600px) {
    

@media only screen and (min-width: 1200px) {
    
}*/